openapi: 3.0.3
info:
  title: Gitee Open API v5 (core subset) Enterprises Search API
  description: 'A curated, representative subset of the Gitee (码云) Open API v5, the documented REST API of the China-based Git hosting and DevOps platform operated by OSChina / Shenzhen Oschina (开源中国). Every path in this document is grounded in Gitee''s live Swagger definition at https://gitee.com/api/v5/swagger_doc.json (Gitee Open API version 5.4.92 as observed on 2026-07-12); the authoritative, complete machine-readable spec (175 paths / 264 operations across Repositories, Issues, Pull Requests, Users, Organizations, Gists, Enterprises, Webhooks, Labels, Milestones, Activity, Git Data, Search, and more) lives there. This subset captures the core representative operations per resource group. Requests authenticate with a personal access token supplied either as an `access_token` query parameter or an `Authorization: Bearer <token>` header, or via OAuth2. English endpoint summaries below are translated from the Chinese summaries in the source spec.'
  version: 5.4.92
  contact:
    name: Gitee
    url: https://gitee.com
servers:
- url: https://gitee.com/api/v5
  description: Gitee Open API v5 (production)
security:
- accessTokenQuery: []
- bearerAuth: []
- oauth2:
  - projects
tags:
- name: Search
  description: Search across repositories, issues, and users.
paths:
  /search/repositories:
    get:
      operationId: searchRepositories
      tags:
      - Search
      summary: Search repositories
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search keyword.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: Matching repositories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'
  /search/issues:
    get:
      operationId: searchIssues
      tags:
      - Search
      summary: Search issues
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search keyword.
      responses:
        '200':
          description: Matching issues.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue'
  /search/users:
    get:
      operationId: searchUsers
      tags:
      - Search
      summary: Search users
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        description: Search keyword.
      responses:
        '200':
          description: Matching users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        login:
          type: string
        name:
          type: string
        html_url:
          type: string
        avatar_url:
          type: string
        type:
          type: string
    Issue:
      type: object
      properties:
        id:
          type: integer
        number:
          type: string
        title:
          type: string
        state:
          type: string
        body:
          type: string
        user:
          $ref: '#/components/schemas/User'
        created_at:
          type: string
          format: date-time
    Repository:
      type: object
      properties:
        id:
          type: integer
        full_name:
          type: string
        human_name:
          type: string
        path:
          type: string
        name:
          type: string
        owner:
          $ref: '#/components/schemas/User'
        description:
          type: string
        private:
          type: boolean
        html_url:
          type: string
        stargazers_count:
          type: integer
        forks_count:
          type: integer
  securitySchemes:
    accessTokenQuery:
      type: apiKey
      in: query
      name: access_token
      description: Personal access token passed as the `access_token` query parameter. Present on the large majority of Gitee v5 operations.
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal access token passed as `Authorization: Bearer <token>`.'
    oauth2:
      type: oauth2
      description: Gitee OAuth2. Authorize at https://gitee.com/oauth/authorize and exchange for a token at https://gitee.com/oauth/token.
      flows:
        authorizationCode:
          authorizationUrl: https://gitee.com/oauth/authorize
          tokenUrl: https://gitee.com/oauth/token
          refreshUrl: https://gitee.com/oauth/token
          scopes:
            user_info: Read the user's profile.
            projects: Read and manage repositories.
            pull_requests: Read and manage pull requests.
            issues: Read and manage issues.
            notes: Read and manage comments.
            keys: Read and manage SSH keys.
            hook: Read and manage webhooks.
            groups: Read and manage organizations.
            gists: Read and manage gists.
            enterprises: Read and manage enterprises.
            emails: Read the user's email addresses.
